@import url(style.css);
@import url(variables.css);
*{
    margin: 0;
    border: 1px solid;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 100vh;
    width: 100vw;    
    background: url(../storage/img/placeYourImageHere0.png);
    background-size: 100%;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
}
li{
    list-style-type: none;
    
}
a{
    text-decoration: none;
    color: var(--color-font);
}
li:last-child{
    margin-right: 8vw;
}
nav, section{
    position: relative;
    z-index: 2;
}
.filter{
    top: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
}
.sectionHeader{
    display: flex;
    justify-content: space-between;
}
.articleHeader{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.waffle{
}
main{
    background: var(--color-secundary);
}